<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
  <h1>Create Customer</h1>
  <form action="/submitCustomer" method="post">
    <p>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </p>
    <p>
      <label for="discount">Discount:</label>
      <input type="text" name="discount" id="discount">
    </p>
    <p>
      <input type="submit" value="Save" name="save">
    </p>
  </form>
</body>
</html>