<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Executive</title>
</head>
<body>
  <h1>Add a new executive</h1>
  <form action="/submitExecutive" method="post">
    <p>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </p>
    <p>
      <label for="salary">Salary:</label>
      <input type="text" name="salary" id="salary">
    </p>
    <p>
      <label for="bonus">Bonus:</label>
      <input type="text" name="bonus" id="bonus">
    </p>
    <p>
      <input type="submit" value="Save" name="save">
    </p>
  </form>
</body>
</html>