<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Examples</title>
</head>
<body>
<h2>About our app! (Static page example)</h2>
<p>Our app provides everyone with a way to save their favorite dishes!</p>
<!--You can show an image on a page by placing it in the static.img folder under resources:-->
<img src="../img/logo.png" width= "150" height = "150" alt="app-logo">
<!--To return to the index page you can simply use a hyperlink with a /-->
<p><a href="/">Back to the homepage</a></p>
</body>
</html>