<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Examples</title>
</head>
<body>

<h3>Viewing the dish:</h3>

<p th:text = "${dish.getName()} + ' (' + ${dish.getCalories()} +' calories)'"></p>
<span th:if="${dish.isVegetarian()}">This is a vegetarian dish</span>
<span th:if="${!dish.isVegetarian()}">This is a non-vegetarian dish</span>

<p><a href="/">Back to the homepage</a></p>

</body>
</html>
