<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Example working with Thymeleaf</title>
</head>
<body>

<h2>Working with Thymeleaf - Food app</h2>
<p><a href="/aboutus">About our app! (Static page example)</a></p>
<p><a href="/singledish">Check out one dish! (Dynamic data page example - single object)</a></p>
<p><a href="/dishlist">Check out all our dishes! (Dynamic data page example - list)</a></p>
<p><a href="/newdish">Submit a new dish. (Data-entry form and processing example)</a></p>



</body>
</html>
