<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit bread</title>
</head>
<body>
  <h1>Edit bread</h1>
  <form th:action="@{/processedit(breadId=${bread.getId()})}" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" th:value="${bread.getName()}">
    </p>
    <p>
      <label for="price">Price</label>
      <input type="text" name="price" id="price" th:value="${bread.getPrice()}">
    </p>
    <p>
      <input type="submit" value="Save" name="save">
    </p>
</body>
</html>